.venv/
__pycache__/
*.pyc
data/
models/*
!models/.gitkeep
!models/README.txt
dist/
build/
*.log
.face-unlock/
photos/*.jpg
photos/*.jpeg
photos/*.png
photos/*.bmp
photos/*.heic
photos/*.heif
photos/*.webp
!photos/README.txt
cp/*.obj
cp/*.lib
cp/*.exp
cp/*.dll
.vs/
